<ion-content>
  <div class="page-body">
    <img class="logo" src='/assets/app-logo.svg'>
    <div class="list">
      <div class="item" *ngFor="let group of (groupService.groups | async)">
        <sm-avatar [name]="member.name" *ngFor="let member of group.members"></sm-avatar>
        <div class="spacer"></div>
        <div class="join" (click)="groupService.enterGroup(group)">Join</div>
      </div>
    </div>
    <div class="spacer"></div>
    <ion-button class="btn-full" fill="outline" (click)="groupService.createGroup()">Start Session</ion-button>
  </div>
</ion-content>