<ion-content>

  <div class="avatars">
    <sm-avatar></sm-avatar>
  </div>

  <div class="estimation-list-wrapper">

    <div class="estimation-list">
      <p>Complexity</p>
      <div class="estimation-button complexity" *ngFor="let item of complexities">{{item}}</div>
    </div>
    <div class="estimation-list effort">
      <p>Effort</p>
      <div class="estimation-button effort" *ngFor="let item of efforts">{{item}}</div>
    </div>

  </div>

  <div class="spacer"></div>

  <button fill="outline">Ready</button>

</ion-content>