// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import './theme/typography.css';

.ion-page {
  padding: 26px 20px 20px;
}

/* Main logo in the intro pages */
.logo {
  margin: 24px auto;
  height: 58px;
}

.top-bar {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spacer {
  flex-grow: 1;
}